<template>
  <div id="FeelingPredictionImage" v-bind:style="{'background-image': 'url(' + backgroundImageFeel + ')'}">
    
      <div id="content">



<div class="WeatherElementContainer">

      <button type="submit" class="btnHistory" @click.prevent="goToHistory">History</button>


<div class="userInput">
<div> 
  <div id="namer">
    <div id="namer-input">
      <input v-model="requestObj.City" name="namername" placeholder="City" @keyup.enter="fillForecast">
    </div>
      <button type="submit" class="btn" @click.prevent="fillForecast">Get Weather</button>
  </div>
  </div>
</div>


      <div class="WeatherElement" v-for="(value, key, index) in forecast.DaysPredictions" :key="value.DayOfWeather">
        <parallax-container class="horizontal-card centered-card" style="cursor: pointer;">
          <parallax-element class="text-container" :parallaxStrength="10" :type="'depth'">
            <h2>{{value.DayOfWeather}}</h2>
            <div class="smallText">{{value.DateOfWeatherText}}</div>
            <div class="WeatherElementContent" style="width: 88%;">

            <div class="Temperature"><div>{{value.Temperature}} C</div></div>
            <div class="TemperatureMaxMin">
            <div class="TemperatureMax">Max: {{value.TemperatureMax}}</div>
            <div class="TemperatureMin">Min: {{value.TemperatureMin}}</div>
            </div>


            <div class="WEItem" v-for="(value2, key2, index2) in value.HourlyPredictions" :key="value2.TimeOfTheDay">
              {{value2.TimeOfTheDay}} will be: {{value2.Temperature}} C | Humidity: {{value2.Humidity}} | Wind speed: {{value2.WindSpeed}} km/s
            </div>
            


            </div>
          </parallax-element>
          <parallax-element v-if="value.FeelingPrediction == 'veryhot'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + veryhotFeel + ')'}">
          </parallax-element>      
          <parallax-element v-if="value.FeelingPrediction == 'hot'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + hotFeel + ')'}">
          </parallax-element>     
          <parallax-element v-if="value.FeelingPrediction == 'warmer'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + warmerFeel + ')'}">
          </parallax-element>     
          <parallax-element v-if="value.FeelingPrediction == 'chill'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + chillFeel + ')'}">
          </parallax-element>   
          <parallax-element v-if="value.FeelingPrediction == 'mildcold'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + mildcoldFeel + ')'}">
          </parallax-element>   
          <parallax-element v-if="value.FeelingPrediction == 'mediumcold'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + mediumcoldFeel + ')'}">
          </parallax-element>   
          <parallax-element v-if="value.FeelingPrediction == 'cold'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + coldFeel + ')'}">
          </parallax-element>   
          <parallax-element v-if="value.FeelingPrediction == 'freezing'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + freezingFeel + ')'}">
          </parallax-element>   
        </parallax-container>
      </div>
</div>
    
      </div>    
    <div id="mask">
    </div>
  </div>
</template>

<script>
import veryhotFeel from "@/assets/veryhot.jpg";
import hotFeel from "@/assets/hot.jpg";
import warmerFeel from "@/assets/warmer.jpg";
import chillFeel from "@/assets/chill.jpg";
import mildcoldFeel from "@/assets/mildcold.jpg";
import mediumcoldFeel from "@/assets/mediumcold.jpg";
import coldFeel from "@/assets/cold.jpg";
import freezingFeel from "@/assets/freezing.jpg";


import WeatherService from "@/services/api.service";
import { CHECK_AUTH } from "@/store/actions.type";
export default {
  data() {
    return {
      forecast: {},

      veryhotFeel,
      hotFeel,
      warmerFeel,
      chillFeel,
      mildcoldFeel,
      mediumcoldFeel,
      coldFeel,
      freezingFeel,

      backgroundImageFeel: veryhotFeel,
      requestObj: {
        Subject: {},
        City: "",
        Unit: 0,
        Start: 0,
        Offset: 0,
        UserId: "00000000-0000-0000-0000-000000000000"
      }
    };
  },
  methods: {
    fillForecast() {      
      this.$store.dispatch(CHECK_AUTH);
      let that = this;
      that.forecast = {};
      that.backgroundImageFeel = veryhotFeel;
      WeatherService.post("api/weather/forecast", this.requestObj).then(
        response => {
          that.forecast = response.data;
          if (that.forecast.WeekFeelingPrediction == "veryhot") {
            that.backgroundImageFeel = veryhotFeel;
          }
          if (that.forecast.WeekFeelingPrediction == "hot") {
            that.backgroundImageFeel = hotFeel;
          }
          if (that.forecast.WeekFeelingPrediction == "warmer") {
            that.backgroundImageFeel = warmerFeel;
          }
          if (that.forecast.WeekFeelingPrediction == "chill") {
            that.backgroundImageFeel = chillFeel;
          }
          if (that.forecast.WeekFeelingPrediction == "mildcold") {
            that.backgroundImageFeel = mildcoldFeel;
          }
          if (that.forecast.WeekFeelingPrediction == "mediumcold") {
            that.backgroundImageFeel = mediumcoldFeel;
          }
          if (that.forecast.WeekFeelingPrediction == "cold") {
            that.backgroundImageFeel = coldFeel;
          }
          if (that.forecast.WeekFeelingPrediction == "freezing") {
            that.backgroundImageFeel = freezingFeel;
          }
        }        
      );
    },
    goToHistory(){
      this.$router.push({name: 'MyForecastHistory'})
    }
  },
  mounted() {
    // This would be helpful if we get location from browser to automatically fetch weather data
    //this.fillForecast();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
