<template>
  <div id="FeelingPredictionImage" style="position: unset; background-color: black; min-height: 100vw;">
    
 
<div id="contentHistory">


<div class="WeatherElementContainerHistory">
      <div class="WeatherElement" v-for="(value, key, index) in forecast.DaysPredictions" :key="value.DayOfWeather">
        <parallax-container class="horizontal-card centered-card" style="cursor: pointer;">
          <parallax-element class="text-container" :parallaxStrength="10" :type="'depth'">
            <h2>{{value.DateOfWeatherText}}</h2>
            <div class="smallText">{{value.DayOfWeather}}</div>
            <div class="WeatherElementContent" style="width: 88%;">

            <div class="Temperature"><div>{{value.Temperature}} C</div></div>
            <div class="TemperatureMaxMin">
            <div class="TemperatureMax">Max: {{value.TemperatureMax}}</div>
            <div class="TemperatureMin">Min: {{value.TemperatureMin}}</div>
            </div>


            <div class="WEItem" v-for="(value2, key2, index2) in value.HourlyPredictions" :key="value2.TimeOfTheDay">
              {{value2.TimeOfTheDay}} will be: {{value2.Temperature}} C | Humidity: {{value2.Humidity}} | Wind speed: {{value2.WindSpeed}} km/s
            </div>
            


            </div>
          </parallax-element>
          <parallax-element v-if="value.FeelingPrediction == 'veryhot'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + veryhotFeel + ')'}">
          </parallax-element>      
          <parallax-element v-if="value.FeelingPrediction == 'hot'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + hotFeel + ')'}">
          </parallax-element>     
          <parallax-element v-if="value.FeelingPrediction == 'warmer'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + warmerFeel + ')'}">
          </parallax-element>     
          <parallax-element v-if="value.FeelingPrediction == 'chill'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + chillFeel + ')'}">
          </parallax-element>   
          <parallax-element v-if="value.FeelingPrediction == 'mildcold'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + mildcoldFeel + ')'}">
          </parallax-element>   
          <parallax-element v-if="value.FeelingPrediction == 'mediumcold'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + mediumcoldFeel + ')'}">
          </parallax-element>   
          <parallax-element v-if="value.FeelingPrediction == 'cold'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + coldFeel + ')'}">
          </parallax-element>   
          <parallax-element v-if="value.FeelingPrediction == 'freezing'" class="background-image" :parallaxStrength="-10" :type="'depth'" v-bind:style="{'background-image': 'url(' + freezingFeel + ')'}">
          </parallax-element>   
        </parallax-container>
      </div>
</div>
    
</div>
  </div>
</template>

<script>
import veryhotFeel from "@/assets/veryhot.jpg";
import hotFeel from "@/assets/hot.jpg";
import warmerFeel from "@/assets/warmer.jpg";
import chillFeel from "@/assets/chill.jpg";
import mildcoldFeel from "@/assets/mildcold.jpg";
import mediumcoldFeel from "@/assets/mediumcold.jpg";
import coldFeel from "@/assets/cold.jpg";
import freezingFeel from "@/assets/freezing.jpg";

import WeatherService from "@/services/api.service";
//import { CHECK_AUTH } from "@/store/actions.type";
export default {
  data() {
    return {
      forecast: {},

      veryhotFeel,
      hotFeel,
      warmerFeel,
      chillFeel,
      mildcoldFeel,
      mediumcoldFeel,
      coldFeel,
      freezingFeel,

      backgroundImageFeel: {},
      requestObj: {
        Subject: {},
        City: "",
        Unit: 0,
        Start: 0,
        Offset: 0,
        UserId: "00000000-0000-0000-0000-000000000000"
      }
    };
  },
  methods: {
    fillForecast() {
      //this.$store.dispatch(CHECK_AUTH);
      let that = this;
      WeatherService.post("api/weather/history", this.requestObj).then(
        response => {
          that.forecast = response.data;
        }
      );
    }
  },
  mounted() {
    this.fillForecast();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
