<template>
  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-md-offset-3 col-xs-12">
          <h1 class="text-xs-center">Sign up</h1>
          <p class="text-xs-center">
            <router-link :to="{ name: 'Login' }">
              Have an account?
            </router-link>
          </p>
          <ul v-if="errors" class="error-messages">
            <li v-for="(v, k) in errors" :key="k">{{k}} {{ v | error }}</li>
          </ul>
          <form v-on:submit.prevent="onSubmit">
            <fieldset class="form-group">
              <input class="textboxStyled" type="text" v-model="username" placeholder="Username">
            </fieldset>
            <fieldset class="form-group">
              <input class="textboxStyled" type="text" v-model="email" placeholder="Email">
            </fieldset>
            <fieldset class="form-group">
              <input class="textboxStyled" type="password" v-model="password" placeholder="Password">
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right">
              Create account
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import { REGISTER } from '@/store/actions.type'
export default {
  name: 'RwvRegister',
  data () {
    return {
      username: '',
      email: '',
      password: ''
    }
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors
    })
  },
  methods: {
    onSubmit () {
      this.$store.dispatch(REGISTER, {
        email: this.email,
        password: this.password,
        username: this.username
      })
        .then(() => this.$router.push({ name: 'Login' }))
    }
  }
}
</script>