#FeelingPredictionImage {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    min-height: 600px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
  }
#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.15s ease;
    opacity: 0.7 !important;
    background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
    z-index: 1;
  }



  .horizontal-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50vw;
    max-width: 300px;
    height: auto;
    margin: auto;
    margin-top: 50px;    
  }
  .horizontal-card p {
      line-height: 25px;
  }
  .horizontal-card div {
      width: 50%;
  }
  .horizontal-card .text-container {
      position: relative;
      z-index: 5;
  }
  .horizontal-card .background-image {
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 375px;
      opacity: 0.6;
      border-radius: 40px;
  }
  .centered-card {
    display: block;
    width: 50vw;
    max-width: 320px;
    height: auto;
  }
  .centered-card div {
      width: 100%;
  }
  .centered-card h2 {
      text-align: center;
  }
  .centered-card .text-container {
      position: absolute;
      top: 0;
      bottom: 0;
      color: #FFF;
  }
  .centered-card .background-image {
      width: 100%;
      height: 375px;
  }

  h2 {    
    margin-top: -55px;    
    margin-left: -230px;
    font-size: 2.5rem;
    z-index: 5;
    text-shadow: 0 7px 12px rgba(2,11,22,1);
}

.smallText {
  font-size: 12px;
  position: fixed;
    left: 30%;
    top: -13%;
}


#content {
  font-family: sans-serif;
  width: 100%;
  line-height: 200px;
  position: fixed;
  top: 55%; 
  margin-top: -100px;  
  border-radius: 5px;
  text-align: center;
  z-index: 2;
}




#contentHistory {
  font-family: sans-serif;
  width: 100%;
  line-height: 200px;
  position: unset;
  top: 63%; 
  margin-top: -100px;  
  border-radius: 5px;
  text-align: center;
  z-index: 2;
}
.WeatherElementContainerHistory {
  display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: stretch;
    margin-top: 100px;
}


.WeatherElementContent {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 88%;
    position: fixed;
    left: 5%;
}

.WEItem {
  height:30px;
  font-size: 10px;
  margin-top: -170px;
}


.Temperature {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: stretch;
  font-size: 32px;
  position: fixed;
    top: 0;
    text-shadow: 0 7px 12px #020b16;
    font-weight: bolder;
}
.TemperatureMaxMin {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: stretch;
  font-size: 16px;
  position: fixed;
  top: 12%;
  text-shadow: 0 7px 12px #020b16;
}


.userInput {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 8px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #1976D2;
  opacity: 0.7;
  position: fixed;
  left: 48.5%;
}















#namer {
  position: relative;
  max-width: 400px;
  margin: 150px auto 0;
 }

#namer input {
  border: 0;
  border-bottom: 2px solid #1976D2;
  width: 100%;
  font-size: 30px;
  line-height: 35px;
  height: 70px;
  text-align: center;
  padding: 10px;
  background: transparent;
   color: #BBDEFB;
 }
 
 #namer input.shake {
  animation-name: shaker;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
 }
 
 #namer input:focus {
  outline: 0;
   color: #BBDEFB;
 }
 
 #namer input::placeholder {
  color: #1976D2;
 }
 
 .namer-controls {
  position: relative;
  display: block;
  height: 30px;
  margin: 20px 0;
  text-align: center;
  opacity: 0.3;
  cursor: not-allowed;
 }
 
 .namer-controls.active {
  opacity: 1;
  cursor: pointer;
 }
 
 .namer-controls div {
  float: left;
  width: 33.33%;
 }
 
 .namer-controls div span {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 5px;
  width: 95%;
  display: inline-block;
  margin-right: 5%;
  border-radius: 30px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
 }
 
 .namer-controls div span:last-child {
  margin-right: 0;
 }
 
 .namer-controls div span.active {
  box-shadow: none;
  background-color: #1976D2;
  color: #fff;
 }
 
 #namer-input.serious input {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Andada', serif;
  font-weight: 500;
 }
 
 #namer-input.modern input {
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 10px;
 }
 
 #namer-input.cheeky input {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
 }





 .auth-page {
       display: flex;
       align-items: center;
       flex-direction: column;
       font-family: sans-serif;
 }

 .auth-page h1, p {
   margin-left: 10%;
}


 .textboxStyled {
  border: 0px; 
  outline:0; 
  height:25px; 
  width: 335px;
  -webkit-box-shadow: 0 0 0 30px white inset; 
  border-radius: 15px;
  padding-left: 20px;
}

fieldset
{
  background-color: #ccc;
    max-width: 500px;
    padding: 0;
    margin: 20px;
    border: 2px solid rgb(155, 155, 155);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}


.btnHistory {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 8px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #1976D2;
  opacity: 0.7;
  position: fixed;
  left: 94%;
  top: 6%;
}





@media screen and (min-width: 1300px) {
  .WeatherElementContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: stretch;
    margin-top: 100px;
  }
}
@media screen and (max-width: 1300px) {
  .WeatherElementContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: stretch;
    margin-top: 100px;
  }

  #content {
    position: initial;
  }

  #FeelingPredictionImage {
    position: unset;
    background-image: unset;
  }
  #mask {
    display: none;
  }

  .userInput {
    position: unset;
    margin-top: -180px;
  }

  .btn {
    position: unset;
  }

  .btnHistory {
    left: 87%;
  }


}